<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IUserService" />
                <binding name="NetTcpBinding_IItemService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8010/Login" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IUserService" contract="UserServiceReference.IUserService"
                name="NetTcpBinding_IUserService">
            </endpoint>
            <endpoint address="net.tcp://localhost:8030/Item" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IItemService" contract="ItemServiceReference.IItemService"
                name="NetTcpBinding_IItemService">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>