<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IUserService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/Login" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUserService" contract="UserServiceReference.IUserService"
                name="BasicHttpBinding_IUserService" />
            <endpoint address="net.tcp://localhost:8010/Login" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IUserService" contract="UserServiceReference.IUserService"
                name="NetTcpBinding_IUserService">
                <identity>
                    <userPrincipalName value="DESKTOP-MJQ6GNS\Marton" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>