<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <!-- Setup services -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="mexBehavior" name="ServiceLibrary.UserService">
        <endpoint address="Login" binding="basicHttpBinding" contract="ServiceLibrary.ServiceInterfaces.IUserService" />
        <endpoint address="Login" binding="netTcpBinding" contract="ServiceLibrary.ServiceInterfaces.IUserService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/" />
            <add baseAddress="net.tcp://localhost:8010/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="mexBehavior" name="ServiceLibrary.ItemService">
        <endpoint address="Item" binding="basicHttpBinding" contract="ServiceLibrary.ServiceInterfaces.IItemService" />
        <endpoint address="Item" binding="netTcpBinding" contract="ServiceLibrary.ServiceInterfaces.IItemService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8020/" />
            <add baseAddress="net.tcp://localhost:8030/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="mexBehavior" name="ServiceLibrary.BidService">
        <endpoint address="Bid" binding="basicHttpBinding" contract="ServiceLibrary.ServiceInterfaces.IBidService" />
        <endpoint address="Bid" binding="netTcpBinding" contract="ServiceLibrary.ServiceInterfaces.IBidService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8040/" />
            <add baseAddress="net.tcp://localhost:8050/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
        
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>
  <connectionStrings>
    <add name="DBCS"
         connectionString="data source= kraka.ucn.dk; database= dmaj0917_1067689; user id= dmaj0917_1067689; password= Password1!;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>