@{
    ViewBag.Title = "Contact";
}

<div class="container" style="padding:0 0 60px;">
    <h2>@ViewBag.Title</h2>


    <div class="container" style="background-color:#fff;">
        <h3>@ViewBag.Message</h3>
        <h4>Address</h4>
        <address>
            Mylius Erichsens Vej 131<br />
            9210 Aalborg<br />
            <abbr title="Phone">P:</abbr>
            72 69 30 00
        </address>

        <address>
            <strong>Email:</strong>   <a href="mailto:notarealmail@abay.com">hello@abay.com</a><br />
        </address>
    </div>
</div>

<div style="background-color:#dfdfe1; padding: 30px 0 30px 0;">
    <div class="container-email">
        <a href="mailto:1067390@ucn.com" class="email">
            <img style="width:40px;padding-bottom: 3px;" src="~/Image/email.png" /> &nbsp;&nbsp;&nbsp; Email us
        </a>
    </div>
</div>